# Langchain OpenAI API Key (or your chosen provider's API key)
OPENAI_API_KEY="abcd"

# Optional: If using a specific base URL for OpenAI-compatible APIs (like OpenRouter, SiliconFlow)
OPENAI_API_BASE="http://10.33.64.35:8031/deepseekR1/v1"

# 数据接口URL
DATA_URL="http://10.33.236.72:8053/SpecialScene/getOptimizationConfig"
XIYAN_API_URL="http://10.33.64.35:8031/deepseekV3/v1"
XIYAN_API_KEY="abcd"
XIYAN_MODEL="XiYanSQL"
MAIN_MODEL="Qwen3-235B"
REDIS_SYSTEM_PROMPT_KEY="fault_agent_prompt"
REDIS_HOST="10.33.66.53"
REDIS_PORT=6379
REDIS_DB=2
REDIS_PASSWORD=""
# N-1 Analysis API Endpoint (if different from default in code)
N1_ANALYSIS_URL="http://10.33.236.72:8053/SpecialScene/RiskCalculation"
# Find Contingency Plan API Endpoint (if not mocked and using a real API)
FIND_CONTINGENCY_PLAN_URL="http://10.33.236.72:8053/SpecialScene/getMaintenancePlans"
FIND_OPERATION_PLAN_URL="http://10.33.236.72:8053/SpecialScene/getOperationSchema"
# get model info
GET_MODEL_URL="http://10.33.236.72:8053/SpecialScene/getModel"
GET_BACKUP_LINE_URL="http://10.33.236.72:8053/SpecialScene/getBackupLine"